doctype html
html(lang="ru-RU")
    head
        title Hello dobbo
        link(rel="stylesheet" type="text/css" href="static/css/main.css")
    body
        p Nice dob
        p Nice dobo
        p Nice dob
        .slider
            .slider-item
            .slider-item
            .slider-item
        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")

